{% extends "outline.html" %} {% load static %} {% block body %}
<section class="faq-body-section">
    {% if data.is_employee %}
        <span>is_employee</span>
    {% elif  data.application_status%}
        <span class="h3">application status: {{data.application_status}}</span>
    {% else %}
        <span class="h1 d-block text-decoration-underline m-0">How the company works?</span>
        <p>We are a team of students pursuing computer degree from different parts of Karnataka.
            We do freelancing to fulfill the customer needs in getting their social platforms popular by developing best websites and apps as for their needs.
            We take orders from our customers and deside a group to work on those projects.
            It's all automated by RALKZ.
            Students can join RALKZ and build real life projects for experiance and get paid too.
            This is a good move by the <q>youth power</q> towards a smart India.
        </p>

        <h1 class="text-decoration-underline ">How to apply for job?</h1>
        <p><ul>
            <li>check eligibility</li>
            <li>fill the required detailes</li>
            <li>verify identity</li>
            <li>acept terms and conditions</li>
            <li>upload documents</li>
            <li>wait for confirmation mail</li>
        </ul></p>
        {% if data.form %}
            <form class="w-auto bg-body d-flex flex-column" method="POST" action="/career/apply/">
                    {% csrf_token %}
                    <span class="h3 text-decoration-underline ">Personal details</span>
                    <div class="border border-end-0 border-bottom-0 rounded-bottom-0 rounded mb-3 shadow-lg p-4 d-flex flex-column ">

                        <label class="form-label h2 ">Resume:</label>
                        <p>Details to be included:
                            <span>Personal Details:</span>
                            <ul>
                                <li>Full name as on identity card</li>
                                <li>Address as for identity card</li>
                                <li>Known humal languages</li>
                                <li>Know computer skills and technologies</li>
                                <li>A social profile link like Linkedin,X,etc</li>
                            </ul>
                            <span>Academic details:</span>
                            <ul>
                                <li>Qualification</li>
                                <li>institution name</li>
                                <li>Marks/Percentage achived</li>
                                <li>Total Marks/Percentage</li>
                            </ul>
                            <span>Experiance details</span>
                            <ul>
                                <li>company name</li>
                                <li>employee position</li>
                                <li>worked duration in months</li>
                            </ul>
                        </p>
                        <input type="file" class="form-control rounded-end border-start-0 w-25 " name="resume"/>
                        <hr class="align-self-center w-75">

                        <label class="form-label h2">Identity proof</label>
                        <p>
                            <span class="d-block ">any valid identity proof that shows name and address like </span>
                            <ul>
                                <li>adhar</li>
                                <li>voter id</li>
                            </ul>
                        </p>
                        <input type="file" class="form-control rounded-end border-start-0 w-25 " name="identity"/>
                        <hr class="align-self-center w-50">

                        <label class="form-label h2 ">Work Experience proof</label>
                        <p>
                            <span class="d-block ">if there is any previous work experience add proof like</span>
                            <ul>
                                <li>salary slip</li>
                                <li>promotion letter</li>
                            </ul>
                        </p>
                        <input type="file" class="form-control rounded-end border-start-0 w-25 " name="experience"/>
                        <hr class="align-self-center w-25">

                        <label class="form-label h2 ">Academic Certificates</label>
                        <p>
                            <span class="d-block ">Upload qualified study certificates like</span>
                            <ul>
                                <li>degree certificate or previous sem marks card if pursuing</li>
                                <li>2nd puc certificate</li>
                            </ul>
                        </p>
                        <input type="file" class="form-control rounded-end border-start-0 w-25 " name="study"/>
                        <hr class="align-self-center w-25">
                    </div>

                    <button class="btn btn-primary w-25 align-self-center mb-5 ">Submit</button>
                </form>
        {% else %}
        <a href="/career/apply/" class="btn btn-secondary ">apply now</a>
        {% endif %}
    {% endif %}
</section>
{% endblock body %}