{% extends "outline.html" %}
{% load static %}
{% block body %}

<section class="">
    <div class="border rounded p-2 my-5">
        <span class="h1 d-block text-decoration-underline"> Employee Details </span>
        <span class="h4 d-block ms-4 mb-2">employee_id : {{data.employee_id}}</span>
        <span class="h4 d-block ms-4 mb-2">username : <a href="/account/{{data.user_name}}">{{data.user_name}}</a></span>
        <span class="h4 d-block ms-4 mb-2">team : {{data.team}}</span>
        <span class="h4 d-block ms-4 mb-2">score : {{data.score}}</span>
    </div>
</section>
{% endblock body %}