{% extends "outline.html" %} {% load static %} {% block body %}
<section class="faq-body-section">
  <p class="h1 text-decoration-underline">Frequently Asked Questions</p>
  <br /><br /><br />

  <div class="row gap-2">
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="card">
        <h5 class="card-header">Job</h5>
        <div class="card-body">
          <h5 class="card-title">most asked:</h5>
          <p class="card-text">
            1) what if i don't get paid on time? whom to contact?
          </p>
          <a href="#" class="btn btn-outline-light">view and Ask</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <h5 class="card-header">Orders</h5>
        <div class="card-body">
          <h5 class="card-title">most asked:</h5>
          <p class="card-text">1) Can we see the order status?</p>
          <a href="#" class="btn btn-outline-light">view and Ask</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="card">
        <h5 class="card-header">Payment</h5>
        <div class="card-body">
          <h5 class="card-title">most asked:</h5>
          <p class="card-text">1) How to pay the advance amount?</p>
          <a href="#" class="btn btn-outline-light">view and Ask</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
