{% extends 'outline.html' %}
{% load static %}
{% block body %}
  <section class="home_animation">
    <span class="h1">Wanna grow your</span>
    <span>Business?</span>
    <span>Institution?</span>
    <span>Store?</span>

    <span class="h1">You might be willing to</span>
    <span class="h2">Increse profit of your</span>
    <span>Business</span>
    <span>store</span>
    <span class="h2">Increse popularity of your</span>
    <span>company</span>
    <span>Institution</span>
    <span class="h2">have personal websites for your</span>
    <span>channels</span>
    <span>social media</span>
    <span class="h1">We are here</span>
    <span>RALKZ</span>
    <span>the sign of growth</span>
    <span>we build websites and apps for your needs</span>
    <span>
      have no idea, <br />
      no worries creation for fun for us
    </span>
    <span>
      worried of the cost? <br />
      remember we are brothers and sisters
    </span>
    <span>we help get your best products for best price range</span>
  </section>
{% endblock %}
